In [ ]:
count=1
while count<=5:
    print(count)
    count+=1
print(count)

1
2
3
4
5
6

In [ ]:
a=int(input("Input first code"))
b=int(input("Input second number"))
c=int(input("Input third name"))
sum=a+b+c
print(sum/3)

Input first code77
Input second number78
Input third name80
78.33333333333333

In [ ]:
count=1
while count<=5:
  if count==3:
    break
    print(count)
    count+=1

In [ ]:
count=1
while count<=4:
   print(count,end=",")
   count+=1
print(count)

1,2,3,4,5

In [ ]:
outer=1
while outer<=2:
  inner=1
  while inner<=3:
    print(inner)
    inner+=1
  print("inner loop done")
  outer+=1
print("Outer loop done")

1
2
3
inner loop done
1
2
3
inner loop done
Outer loop done

In [ ]:
outer=1
while outer<=2:
  inner=1
  while inner<=3:
    print(outer,"=",inner)
    inner+=1
  print("Inner loop done")
  outer+=1
print("Outer loop done")
print(inner,outer)

1 = 1
1 = 2
1 = 3
Inner loop done
2 = 1
2 = 2
2 = 3
Inner loop done
Outer loop done
4 3

In [ ]:
count=1
while count<=4:
  if count==3:
   break
  print(count)
  count+=1

1
2

In [ ]:
count = 24
while count >= -6:
    if count == -6:
        print(count, end="")
    else:
        print(count, end=", ")
    count = count - 6

24, 18, 12, 6, 0, -6

In [ ]:
for num in range(18, 64, 9):
    if num <= 63:
        if num % 2 == 0:
            print(num, end=",")
        else:
            if num == 63:
                print(num * -1, end="")
            else:
                print(num * -1, end=",")

18,-27,36,-45,54,-63

In [ ]:
x=input("Name")
y=int(input("Input a number"))
for y in range(y+1):
  print(x)

NameByazid
Input a number5
Byazid
Byazid
Byazid
Byazid
Byazid
Byazid

In [ ]:
sum=0
for i in range(601):
  if(i%7==0 and i%9==0):
    sum=sum-i
  if(i%7==0 or i%9==0):
    sum=sum+i
print(sum)

39814

In [ ]:
num=int(input("Give="))
sum=0
for i in range(1,num+1):
  if i%2==0:
    sum=sum-i**2
  else:
    sum=y+i**2
  print(sum)

Give=45
6
2
14
-2
30
-6
54
-10
86
-14
126
-18
174
-22
230
-26
294
-30
366
-34
446
-38
534
-42
630
-46
734
-50
846
-54
966
-58
1094
-62
1230
-66
1374
-70
1526
-74
1686
-78
1854
-82
2030

In [ ]:
num = int(input("Input a number"))
sum = 0
for i in range(num):
    num1 = int(input("Please give another number"))
    if i == 0:
        maxi = num1
        mini = num1
    else:
        if num1 > maxi:
            maxi = num1
        if num1 < mini:
            mini = num1
    sum += num1
print(maxi, mini)
print(sum / num)

Input a number5
Please give another number9
Please give another number8
Please give another number7
Please give another number2
Please give another number1
9 1
5.4

In [ ]:
row=int(input("Give how many Rows"))
col=int(input("How many colums"))
for r in range(row):
  for c in range(col):
    print(c,end=" ")
  print()

Give how many Rows20
How many colums20
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [ ]:
row=int(input("How many rows"))
for r in range(1,row+1):
  for c in range(1,r+1):
    print(c,end=" ")
  print()

How many rowa20
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213
1234567891011121314
123456789101112131415
12345678910111213141516
1234567891011121314151617
123456789101112131415161718
12345678910111213141516171819
1234567891011121314151617181920

In [ ]:
row= int(input("Enter how many rows: "))

for r in range(1, row+1):
    for c in range(1, r+1):
        print(c, end=' ')
    print()

Enter how many rows: 3
1
1 2
1 2 3

In [ ]:
mystr = "CSE110"
for i in range(len(mystr)):
  print(mystr[i],end=" ")

C S E 1 1 0

In [ ]:
print(11+13-(151+7/3)/3.0%2)

22.888888888888886

In [ ]:
print(3%1)

0

In [ ]:
x = 0
p =0
sum = 0
p = 1
x = 2
q = None
sum = 0
while p < 12:
    q = x + p - (sum + 7 / 3) / 3.0 % 2
    sum = sum + x + int(q)
    x += 1
    print(sum)
    if x > 5:
        p += 4 / 2
    else:
        p += (3 % 1)
sum = int(sum + p)
print(sum)

4
10
18
28
42
60
82
108
138
151

In [ ]:
x = y = 0
sum = 0
while (x < 10):
  y = x - 3
  while (y < 3):
    sum = x - y * 2
    print(sum)
    y = y + 1
  if (x > 7):
    x += 1
  else:
    x += 3
sum = x - y * 2
print(sum)

6
4
2
0
-2
-4
3
1
-1
-2

In [ ]:
x = 0
p = 0
sum = 0
p = 1
x = 2
q = 0.0
sum = 0
while (p < 10) :
  q = x + p - (sum + int(5 / 3)) / 3.0 % 2
  sum = sum + x + int(q)
  x += 1
  print(sum)
  if (x > 5) :
    p += int(4 / 2)
  else :
    p += 3 % 1
sum = sum + p
print(sum)

4
9
16
25
39
56
78
104
115

In [ ]:
print(11 + 13 - (104 + int(5 / 3)) / 3.0 % 2)

23.0

In [ ]:
test = 1
j = 0
k = 100
while (k > 0):
  while ( j < k ):
    test = k + j -21
    print(str(1 + int (test / 2)))
    j += 10
  k -= 10
test = 1
j = 0
k = 100

40
45
50
55
60
65
70
75
80
85

In [ ]:
x = 0
y = 0
sum = 0
p = 0.0
while (x < 10):
    y = x // 2
    while (y < x):
        p = (x + 10.0) / 2
        sum = (sum % 2) + x - y * 2 + int(p)
        print(sum)
        y = y + 2
    if (x > 5):
        x += 1
    else:
        x += 2

6
7
9
5
10
5
10
5
11
7
3

In [ ]:
print("hello world")

hello world

In [ ]:
print(54+56)

110

In [ ]:
season='Fall'
year='2022'
print(season,year)

Fall 2022

In [ ]:
num=input("Enter your name:")
print("Your name is",num)

Enter your name:John
Your name is John

In [ ]:
m=int(input("M"))
n=int(input("N"))
sum=m**n
print(str(m)+"^"+str(n)+":"+str(sum))

M10
N3
10^3:1000

In [ ]:
input_weight=int(input("Input total weight:"))
sum=input_weight%4
print(" apability of boat",input_weight-sum)

Input total weight:23
 apability of boat 20

In [ ]:
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
d=float(input("D:"))
sum=a**c+b*a-d/3
print(sum)

A:9
B:100
C:1
D:3.7
907.7666666666667

In [ ]:
num=int(input("How many chocolate:"))
print("Each friend will receive",num//3,"chocolates")
print("The number of remaining chocolate is",num%3)

How many chocolate:50
Each friend will receive 16 chocolates
The number of remaining chocolate is 2

In [ ]:
m=input("M:")
n=input("N:")
print(str(n)+str(m))

M:python
N:3
3python

In [ ]:
var=input("Input something:")
m=len(var)
print(var[0])

Input something:The quic brown fox jumps over the lazy dog
T

In [ ]:
num=int(input("Input a number for check:"))
if num%2==0:
  print(True)
else:
  print(False)

Input a number for check:-26
True

lab 1 complete

In [ ]:
num1=int(input("Input a Number"))
num2=int(input("Input 2nd number"))
sum=num1+num2
product=num1*num2
difference=num1-num2
print("Sum=",sum,"Product",product,"Difference",difference)

Input a Number4
Input 2nd number5
Sum= 9 Product 20 Difference -1

In [ ]:
num=float(input("Input a number:"))
area=3.1416*num**2
cir=2*3.1416*num
print("Area is",area,"Circumference",cir)

Input a number:3.5
Area is 38.4846 Circumference 21.9912

In [ ]:
num1=int(input("Input a number:"))
num2=int(input("Input a number:"))
if num1>num2:
  print("First one is greater")
elif num2>num1:
  print("Second one is greater")
else:
  print("The number are equal")

Input a number:11
Input a number:11
The number are equal

In [ ]:
num1=int(input("Input a number:"))
num2=int(input("Inpur a number:"))
if num1>num2:
  print(num1-num2)
else:
  print(num2-num1)

Input a number:-40
Inpur a number:-4
36

In [ ]:
num=int(input("Input a Number:"))
if num%2==0:
  print("The num is even")
else:
  print("Number is odd")

Input a Number:7
Number is odd

In [ ]:
num=int(input("Input a Number:"))
if num%2==0 or num%5==0:
  print(num)
else:
  print("Not a multiple of 2 or 5")

Input a Number:10
10

In [ ]:
num=int(input("Input a Number:"))
if num%2==0 and num%5==0:
  print("Multiple of 2 and 5 both")
elif num%2==0 or num%5==0:
  print("num")
elif (num%2!=0 and num%5!=0):
  print("Not a multiplw we want")

Input a Number10
Multiple of 2 and 5 both

In [ ]:
num=int(input("Please input a number:"))
if num%2==0 and num%5==0:
  print(num)
else:
  print("Not multiple of 2 and 5 both")

Please input a number:15
Not multiple of 2 and 5 both

In [ ]:
num1=int(input("Please input a number:"))
num2=int(input("Please input a number:"))
print("Sum",num1+num2,"Product",num1*num2,"Difference",num1-num2)

Please input a number:25
Please input a number:12
Sum 37 Product 300 Difference 13

In [ ]:
email=input('Please input your mail address:')
password=input('Please enter your password:')
if email=='hello@byazid.com' and 'password==byazid@123':
  print('Welcome, You are successfully login')
else:
  print('Wrong gmail or password')

Please input your mail address:hello1@gmail.com
Please enter your password:porrsssajjj
Wrong gmail or password

In [ ]:
a=int(input("Please input your desire number:"))
b=int(input("Please input your desire number:"))
c=int(input("Please input your desire number:"))
if a+b>c and b+c>a and c+a>b:
  print("Valid triangle")
else:
  print("Not a valid triangle")

Please input your desire number:2
Please input your desire number:4
Please input your desire number:3
Valid triangle

In [ ]:
start = 18

while start < 64:
  if start % 2 == 0:
    print(start, end=",")
  else:
    print(start * (-1), end=",")
  start += 9

18,-27,36,-45,54,-63,

In [ ]:
n=int(input("Please input a number:"))
sum=0
for i in range(1,n+1):
  if i%2==0:
    sum=sum-i*i
  else:
    sum=sum+i*i
print(sum)

Please input a number:3
6

In [ ]:
sum=0
count=0
for start in range(1,11):
  user=int(input('Please input a number :'))
  sum=sum+user
  count=count+1
avg=sum/count
print('sum',sum,'avarage',avg)

Please input a number :10
Please input a number :20
Please input a number :30
Please input a number :40
Please input a number :50
Please input a number :60
Please input a number :70
Please input a number :80
Please input a number :90
Please input a number :100
sum 550 avarage 55.0

In [ ]:
user=int(input('Please give a number'))
precount=0
backup=user
while backup>0:
  backup=backup//10
  precount=precount+1
print('The total digit is=',precount)
postcount=0
postcount=precount-1
while user>0:
  number=user//10**postcount
  user=user%10**postcount
  postcount=postcount-1
  print('current situation is',user)
  print('Those numbers are',number)

Please give a number23101498
The total digit is= 8
current situation is 3101498
Those numbers are 2
current situation is 101498
Those numbers are 3
current situation is 1498
Those numbers are 1
current situation is 1498
Those numbers are 0
current situation is 498
Those numbers are 1
current situation is 98
Those numbers are 4
current situation is 8
Those numbers are 9
current situation is 0
Those numbers are 8

In [ ]:
row=int(input('Plese input your desir number'))
for row_count in range(1,row+1):
  for space_count in range(1,(row-row_count)+1):
    print(" ",end='')
  for number_count in range(1,(2*row_count-1)+1):
    print(number_count,end='') #number_count ভিতোরে যা দেওয়া হবে তাই  print hbe.
  print()

Plese input your desir number20
                   1
                  123
                 12345
                1234567
               123456789
              1234567891011
             12345678910111213
            123456789101112131415
           1234567891011121314151617
          12345678910111213141516171819
         123456789101112131415161718192021
        1234567891011121314151617181920212223
       12345678910111213141516171819202122232425
      123456789101112131415161718192021222324252627
     1234567891011121314151617181920212223242526272829
    12345678910111213141516171819202122232425262728293031
   123456789101112131415161718192021222324252627282930313233
  1234567891011121314151617181920212223242526272829303132333435
 12345678910111213141516171819202122232425262728293031323334353637
123456789101112131415161718192021222324252627282930313233343536373839

In [ ]:
num=int(input("Sir,Please enter your desigr number :"))
count=0
for divisor in range(1,num+1):
  if num%divisor==0:
    print("The divisors are",divisor)
    count=count+1
print("Total",count,"Divisors")

Sir,Please enter your desigr number :10
The divisors are 1
The divisors are 2
The divisors are 5
The divisors are 10
Total 4 Divisors

In [ ]:
num=int(input("Please enter your desire number :"))
sum=0
for i in range(1,num):
  if num%i==0:
    print(i)
    sum=sum+i
if sum==num:
  print('This number is a perfect number')
else:
  print("This is not a perfect number")

Please enter your desire number :28
1
2
4
7
14
This number is a perfect number

In [ ]:
#prime number
num=int(input("Sir,Please enter your desire number :"))
count=0
for i in range(1,num+1):
  if num%i==0:
    count=count+1
if count==2:
  print("This is a prime number")
else:
  print("This is not a prime number")

Sir,Please enter your desire number :12
This is not a prime number

In [ ]:

max=user
mini=user
sum=0
for count in range(1,6):
  user=int(input("Sir please enter your  number :"))
  sum=sum+user
  avg=sum/count
  if user>max:
    max=user
  elif user<mini:
    mini=user
print("The maximum number is: ",max)
print("The minimum number is: ",mini)
print("Sum:",sum)
print("Avarage :",avg)

Sir please enter your desire number :10
Sir please enter your desire number :20
Sir please enter your desire number :30
Sir please enter your desire number :35
Sir please enter your desire number :22
The maximum number is:  50
The minimum number is:  10
Sum: 117
Avarage : 23.4

In [ ]:
row=int(input("Please input how many rows do you want to print :"))
for r in range(1,row+1):
  for c in range(1,r+1):
    print(c,end='')
  print()

Please input how many rows do you want to print :15
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213
1234567891011121314
123456789101112131415

In [ ]:
so=int(input("Please enter your number"))
var=input("input something")
for i in range(1,so+1):
  print(var,end=',')

Please enter your number1000
input somethingsorry bbu
sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,sorry bbu,

In [ ]:
word=input("Sir,Please enter your desire word :")
length=len(word)
for i in word:
  print(i,end=",")

Sir,Please enter your desire word :I love you
I, ,l,o,v,e, ,y,o,u,

In [ ]:
word=input("Sir,Please enter your desire word :")
length=len(word)
for i in range(0,length):
  print(word[i],end=",")

Sir,Please enter your desire word :Hello I love you so much
H,e,l,l,o, ,I, ,l,o,v,e, ,y,o,u, ,s,o, ,m,u,c,h,

In [ ]:
count=0
count1=0
num=int(input("Please enter your number:"))
back=num
while num>0:
  num=num//10
  count=count+1
print(count)
count1=count-1
while back>0:
  number=back//10**count1
  num=num%10**count1
  count1=count1-1
print(number,end=",")

Please enter your number:1
1

ZeroDivisionError: ignored

In [ ]:
user=int(input("Sir ,Please enter a num :"))
for r in range(1,user+1):
  for c in range(1,user+1):
   print(c,end="")
  print()

Sir ,Please enter a num8
12345678
12345678
12345678
12345678
12345678
12345678
12345678
12345678

In [ ]:
rc=int(input("Sir,Please enter your number :"))
for r in range(1,rc+1):
  for c in range(1,rc+1):
    if r==1:
      print("&",end="")
    elif c==1 or c==2 or c==7 or c==8:
      print("R",end="")
    else:
      print("O",end="")
  print()

Sir,Please enter your number :10
&&&&&&&&&&
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO
RROOOORROO

In [ ]:
word=input("Please input a Word :")
num=int(input("Sir,Please input How many time do you want to print :"))
for i in range(1,num+1):
  print(word)

Please input a Word :Hello
Sir,Please input How many time do you want to print :0

In [ ]:
num=int(input("Sir ,Please input your desired number :"))
for r in range(1,num+1):
  for c in range(1,num+1):
    if r==1:
      print("$",end="")
    elif c==1 or c==2 or c==7 or c==8:
      print("R",end="")
    else:
      print("O",end="")
  print()

Sir ,Please input your desired number :8
$$$$$$$$
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR

In [ ]:
num=int(input("Sir ,Please input your desire number :"))
bnnum=""
backup=num
while backup!=0:
  remain=backup%2
  bnnum=str(remain)+bnnum
  backup=backup//2
print(f"The binary num of {num} is {bnnum}")

Sir ,Please input your desire number :2
The binary num of 2 is 10

In [ ]:
#for check input type
user=input("Sir,Please input something :")
length=len(user)
digit_count=0
letter_count=0
for count in range(0,length):
  if ord(user[count])>=48 and ord(user[count])<=57:
    digit_count=digit_count+1
  else:
    letter_count=letter_count+1
if digit_count==0:
  print("Word")
elif letter_count==0:
  print("Number")
else:
  print("Mixed")

Sir,Please input something :hello 123 hello
Mixed

In [ ]:
#পাশাপাশি যাতে  Same word না থাকে .
user=input("Sir ,Please enter your desired word :")
length=len(user)
final_word=user[0]
for count in range(1,length):
  if user[count-1]!=user[count]:
    final_word=final_word+user[count]
print(final_word)

Sir ,Please enter your desired word :ABBABBBHDHDHHHH
ABABHDHDH

In [ ]:
#class practice
mylist=[12,33,25,36]
print(type(mylist))
print(mylist)
print(mylist[1])

<class 'list'>
[12, 33, 25, 36]
33

In [ ]:
mylist=[12,22,32,15,42,14]
length=len(mylist)
print(length)
#for add update or add something on list
mylist.append(50)
mylist[3]=24 #for update any value on list
mylist.insert(2,25) #for insert a value in a perticular place on the list
mylist.pop(4) #for remove perticular  index value (15 missing)
print(mylist)

6
[12, 22, 25, 32, 42, 14, 50]

In [ ]:
#for add two list
mylist=[10,20]
mylist2=[30,40]
mylist3=mylist+mylist2
print(mylist3)

[10, 20, 30, 40]

In [ ]:
#Another methood
mylist=[10,20]
mylist2=[30,40]
mylist.extend(mylist2)
print(mylist)

[10, 20, 30, 40]

In [ ]:
mylist=[10,20,[1,2,3],30]
print(mylist[2])
print(mylist[2][1]) # if we have a list with another list under the list .. then we use this function.

[1, 2, 3]
2

In [ ]:
mylist=[10,20,30,40]
print(mylist[1:3]) #if we want to print individual value from list
print(mylist[:])

[20, 30]
[10, 20, 30, 40]

In [ ]:
#use loop
mylist=[20,10,30,40]
for i in mylist:
  print(i)

20
10
30
40

In [ ]:
#another method
mylist=[20,10,30,40]
for i in range(len(mylist)):
  print(mylist[i])

20
10
30
40

In [ ]:
#lab

In [ ]:
#Task-1
mylist=[]
for i in range(5):
  user=int(input("Sir,please enter your desire number :"))
  mylist.append(user)
print(mylist)

Sir,please enter your desire number :45
Sir,please enter your desire number :43
Sir,please enter your desire number :33
Sir,please enter your desire number :22
Sir,please enter your desire number :3
[45, 43, 33, 22, 3]

In [ ]:
#Task-2
user = input("Sir,Please give your desired number :")
mylist = user.split(",")
finallist=[]
if len(mylist) <=3 :
  print("Not Possible")
else:
  newlist = mylist[2:len(mylist)-2]
  for i in newlist:
    inti = int(i)
    finallist.append(inti)
print(finallist)

Sir,Please give your desired number :10, 20, 24, 25, 26
[24]

In [ ]:
#Task-3
mylist=[]
newlist=[]
for i in range(5):
  user=int(input("Sir,Please enter your desired number :"))
  mylist.append(user)
for j in range(len(mylist)-1,-1,-1):
  newlist.append(mylist[j])
print(newlist)

Sir,Please enter your desired number :5
Sir,Please enter your desired number :-5
Sir,Please enter your desired number :100
Sir,Please enter your desired number :1
Sir,Please enter your desired number :0
[0, 1, 100, -5, 5]

In [ ]:
#Task-4

In [ ]:
user=int(input("Sir,please enter a number :"))
y=0
for i in range(1,user+1):
  if i%2==0:
    y=y-i**2
  else:
    y=y+i**2
print(y)

Sir,please enter a number :3
6

In [ ]:
sum=0
count=0
for i in range(1,11):
  user=int(input("Sir,Please enter your desire number :"))
  if user%2!=0:
    sum=sum+user
    count=count+1
avg=sum/count
print("The total odd number is ",sum,"\nAgavge ",avg)

Sir,Please enter your desire number :-20
Sir,Please enter your desire number :13
Sir,Please enter your desire number :-5
Sir,Please enter your desire number :40
Sir,Please enter your desire number :-17
Sir,Please enter your desire number :10
Sir,Please enter your desire number :20
Sir,Please enter your desire number :-8
Sir,Please enter your desire number :99
Sir,Please enter your desire number :200
The total odd number is  90
Agavge  22.5

In [ ]:
user=int(input("Sir,Please enter your desire number :"))
a=0
b=1
print(a,end=" ")
print(b,end=" ")
for i in range(2,user):
  sum=a+b
  a=b
  b=sum
  print(sum,end=" ")

Sir,Please enter your desire number :100
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(k)
    #print(i + " -> " + str(dict1[i]))

8.666666666666668
10.333333333333334
2.666666666666667
-7.0
2.666666666666667

In [ ]:
print(-6%8)

2